.nav-conteiner{
    background-color: grey;
    padding: 2rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.a-conteiner{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    width: 80%;
}